<div id=""spreadsheets-setup">
  <h3>Spreadsheet Software</h3>
  <p>
    To interact with spreadsheets, we can use <a href="https://www.libreoffice.org">LibreOffice</a>, 
    <a href="https://products.office.com/en-us/excel">Microsoft Excel</a>, 
    <a href="https://www.gnumeric.org">Gnumeric</a>, 
    <a href="https://www.openoffice.org">OpenOffice.org</a>, 
    or other programs. 
    Commands may differ a bit between programs, but general ideas for thinking about spreadsheets is the same.
  </p>
  <p>
    For this lesson, if you don't have a spreadsheet program already, 
    you can use [LibreOffice](https://www.libreoffice.org). 
    It is a free, open source spreadsheet program.
  </p>
  <h4>Windows</h4>
  <p>
    <ul>
      <li><strong>Download the Installer:</strong>
        Install LibreOffice by going to the 
        <a href="https://www.libreoffice.org/download/libreoffice-fresh/">installation page</a>.
        The version for Windows should automatically be selected. 
        Click <strong>Download</strong>. 
        You will go to a page that asks about a donation, but you don't need to make one. 
        Your download should begin automatically.</li>
      <li><strong>Install LibreOffice:</strong>  
        Once the installer is downloaded, double click on it and it should install.</li>
    </ul>
  </p>
  <h4>Mac OS</h4>
  <p>
    <ul>
      <li><strong>Download the Installer:</strong>
        Install LibreOffice by going to the 
        <a href="https://www.libreoffice.org/download/libreoffice-fresh/">installation page</a>.
        The version for Mac OS should automatically be selected. 
        Click <strong>Download</strong>. 
        You will go to a page that asks about a donation, but you don't need to make one. 
        Your download should begin automatically.</li>
      <li><strong>Install LibreOffice:</strong>  
        The file <code>LibreOffice\_X.X.X\_MacOS\_x86-64</code> (whichever version of LibreOffice you have selected) should have been downloaded. 
        Double click on this file, and LibreOffice will be installed.</li>
    </ul>
  </p>
  <h4>Linux</h4>
  <p>
    <ul>
      <li><strong>Download the Installer:</strong>
        Install LibreOffice by going to the 
        <a href="https://www.libreoffice.org/download/libreoffice-fresh/">installation page</a>.
        The version for Linux should automatically be selected. 
        Click <strong>Download</strong>. 
        You will go to a page that asks about a donation, but you don't need to make one. 
        Your download should begin automatically.</li>
      <li><strong>Install LibreOffice:</strong>  
        Once the installer is downloaded, double click on it and it should install.</li>
    </ul>
  </p>
</div>

<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a tool to clean up and organize messy data. Please find instructions to
    install it and the data used in the
    <a href="https://librarycarpentry.org/lc-open-refine/">lesson</a>.
  </p>
</div>

</div>
